<div class="registration-form">
  <mat-card>
    <mat-card-header>
      <h2 class="justify-center">User Registration</h2>
    </mat-card-header>
    <mat-card-content>
      <form class="registerForm" [formGroup]="registrForm" (ngSubmit)="proceedRegistration()">
        <mat-form-field class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="id">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Username" formControlName="name">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Username" formControlName="password">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Username" formControlName="email">
        </mat-form-field>

        <mat-radio-group formControlName="gender" aria-label="Gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>

        <div class="button-row">
          <button mat-raised-button class="form-button" color="primary">Submit</button>
          <a routerLink="/login" class="form-button" mat-raised-button color="accent">Back to Login</a>
        </div>


      </form>
    </mat-card-content>
  </mat-card>
</div>
